@import url('~/assets/fonts/Gilroy/stylesheet.css');

h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}