@use '../utilities/mixins';
@use '../utilities/variables';

.company {
    @include mixins.flex-box($d: column, $a: flex-end);

    &__label {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__logo {
        height: 230px;
        width: 230px;
        @include mixins.flex-box($j: center, $a: center);
        
        background: variables.color('white-bg');
    }

    &__name {
        font-weight: 700;
        font-size: 20px;
        margin-top: 15px;
        color: inherit;
        @include mixins.flex-box($a: center, $g: 5px);
    }
}

.company-address {
    margin-top: 15px;
    @include mixins.flex-box($a: center, $g: 8px);

    @media (max-width: 768px) {
        margin-top: 20px;
    }
}