@use '../utilities/mixins';
@use '../utilities/variables';

.pagination {
    margin-top: 40px;
    @include mixins.flex-box($j: flex-end, $g: 40px, $a: center);

    &__pages {
        font-weight: 600;
        font-size: 24px;
    }

    &__count {
        color: variables.color('gray');
    }

    &__buttons {
        @include mixins.flex-box($a: center, $g: 20px);
    }

    &__button {
        @include mixins.flex-box($a: center, $j: center);
        height: 70px;
        width: 70px;
        border: 1px solid variables.color('dark');
        border-radius: 50%;
        color: variables.color('dark');
        transition: background-color .3s ease, color .3s ease;

        &:hover {
            background-color: variables.color('dark');
            color: #fff;
        }
    }
}