@use '../utilities/mixins';
@use '../utilities/variables';

.vacancies-options {
    &__location {
        margin-bottom: 20px;
        @include mixins.flex-box($g: 5px);
    }

    &__city {
        width: 100%;
    }

    &__form {
        width: 360px;
        padding: 32px 25px;
        height: max-content;
        background: variables.color('white-bg');

        @media (max-width: 992px) {
            @include mixins.flex-box($g: 30px);
            flex-wrap: wrap;
            width: 100%;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 20px;
        width: 100%;

        @media (max-width: 992px) {
            margin-bottom: 0;
        }
    }

    &__field {
        @include mixins.flex-box($d: column);
        margin-bottom: 25px;

        @media (max-width: 992px) {
            margin-bottom: 0;
        }
    }

    &__field:last-child {
        margin-bottom: 0;
    }

    &__label {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 24px;
    }

    &__input {
        background: variables.color('white-bg');
        border: 1px solid #B8B5BC;
        padding: 10px;

        &--count {
            width: 110px;
            height: 30px;
            text-align: center;

            font-size: 18px;
            font-weight: 600;
        }

        &--range {
            padding: 0;
        }
    }

    &__radio {
        height: 22px;
        width: 22px;
    }

    &__checkbox {
        height: 22px;
        width: 22px;
    }

    &__helper {
        margin-top: 10px;
        @include mixins.flex-box($j: space-between);
    }

    &__list {
        @include mixins.flex-box($d: column, $g: 10px);
    }

    &__item {
        font-size: 20px;
        @include mixins.flex-box($a: center, $g: 10px);
    }

    &__count {
        font-size: 16px;
        color: variables.color('gray');
    }
}
