@use '../utilities/mixins';
@use '../utilities/variables';

.vacancy-item {
    position: relative;
    padding: 25px 45px;
    background: variables.color('white-bg');

    &__title {
        color: variables.color('dark-blue');
        font-weight: 700;
        font-size: 36px;

        @media (max-width: 576px) {
            font-size: 24px;
        }
    }

    &__info {
        @include mixins.flex-box($a: flex-end, $g: 25px);
        margin-top: 15px;
        margin-bottom: 25px;

        @media (max-width: 576px) {
            gap: 10px;
            margin-bottom: 15px;
        }
    }   

    &__logo {
        height: 60px;
        width: 60px;

        @media (max-width: 576px) {
            height: 48px;
            width: 48px;
        }
    }

    &__address {
        @include mixins.flex-box($d: column, $g: 5px);
        font-size: 20px;
        color: variables.color('gray');

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    &__name {
        font-weight: 700;
    }

    &__description {
        font-size: 20px;
        margin-bottom: 25px;

        @media (max-width: 576px) {
            font-size: 18px;
            margin-bottom: 15px;
        }
    }

    &__pay {
        font-weight: 700;
        font-size: 36px;

        @media (max-width: 576px) {
            font-size: 24px;
        }
    }

    &__actions {
        position: absolute;
        right: 25px;
        top: 35px;
        @include mixins.flex-box($a: center, $g: 45px);
    }
}