@use '../utilities/variables';
@use '../utilities/mixins';

.form {
    &__field {
        @include mixins.flex-box($j: space-between);

        &--vertical {
            flex-direction: column;
            justify-content: start;
            gap: 10px;
        }

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        &--full {
            width: 100%;
            margin-bottom: 30px!important;
        }

        @media (max-width:630px){
            flex-wrap: wrap;
            row-gap: 40px;
        }
    }

    &_input_container{
        width: 100%;
    }

    &__label{
        color: variables.color('gray');
        font-size: 20px;
        font-weight: 700;

        &--file{
            color: variables.color('gray');
        }
    }

    &__input {
        padding: 10px 25px;
        font-size: 20px;

        border: 2px solid rgba(0, 0, 0, .5);
        background: variables.color('white');
        outline: none;
    
        width: 380px;

        &::placeholder {
            color: variables.color('gray');
        }

        @media (max-width: 576px) {
            display: block;
            width: 200px;
        }

        &--fixed {
            height: 80px;
            width: 100%;
        }

        &--textarea {
            height: 180px;
            resize: none;
            font-family: 'Gilroy';
        }

        &--w-30 {
            width: calc(30% - 16px);
            @media (max-width:630px) {
                width: 100%;
            }
        }

        &--w-70 {
            width: calc(70% - 16px);
            @media (max-width:630px) {
                width: 100%;
            }
        }

        &--file {
           display: none; 
        }
    }

    &__footer {
        @include mixins.flex-box($j: flex-end);
    }

    &__button {
        padding: 10px 25px!important;
        max-width: max-content;
    }

    &__inscription {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #B8B5BC;
    }

    &__socials {
        display:flex;
        justify-content: flex-start;
        column-gap: 10px;
        width:100%;
        margin-bottom: 40px;
    }

    &__social_card {
        padding:15px;
        background: #FFFFFF;

        @media (max-width:480px){
            padding: 5px;
        }
    }

}