/* fonts */
h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
}

h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
}

h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25em;
}

.standartBold {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 0.625em;
}

.small {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 0.5em;
}

.extraSmall {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 0.4375em;
}

.large {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 0.75em;
}

.huge {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125em;
}




/* text colors */

.dark {
    color: #434343;
}

.dark-blue {
    color: #689EEB;
}

.green-gray {
    color: #9AA199;
}

.white {
    color: #FFFFFF;
}


/* colors background */

.bg-dark-blue {
    background-color: #689EEB;
}

.bg-blue {
    background-color: #7BBDEC;
}

.bg-light-blue {
    background-color: #EAF5FD;
}

.bg-dark {
    background-color: #434343;
}

.bg-green-gray {
    background-color: #9AA199;
}

.bg-dark-gray {
    background-color: #ECECEC;
}

.bg-light-gray {
    background-color: #F7F7F7;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-red {
    background-color: #FE877D;
}

.bg-orange {
    background-color: #FEA770;
}

.bg-yellow {
    background-color: #FBD37D;
}