@use '../utilities/mixins';
@use '../utilities/variables';

.account {
	min-height: 100vh;
	width: 100%;
	padding: 50px 0;
	background: linear-gradient(102.84deg, #606060 12.51%, #343434 83.37%);
	display: flex;
	align-items: center;
	justify-content: center;

	&__container {
		padding: 50px 200px;
		border-radius: 25px;
		background-color: #FFFFFF;
		width: 66%;
		max-height: 100%;
		position: relative;
	}

	&__view {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__title {
		font-weight: 700;
		font-size: 36px;
		display: inline-block;

		text-align: center;
		border-bottom: 5px #689EEB solid;
		margin-bottom: 30px;
	}

	&__form {
		width: 100%;
	}

	&__input {
		height: 65px;
		width: 100%;
	}

	&__back {
		position: absolute;
		top: 50px;
		left: 50px;

		font-size: 24px;
		font-weight: 600;
		display: flex;
		align-items: center;
		gap: 10px;
		color: #B8B5BC;
	}

	&__button {
		width: 100%;
		max-width: 100%;
		display: block;
		margin: 30px auto;
		text-align: center;

		&--fixed {
			width: 400px;
			height: 75px;
		}
	}

	&__link {
		border-bottom: 3px #689EEB solid;
		font-size: 20px;

		margin-bottom: 30px;
	}
}