@use '../utilities/variables';
@use '../utilities/mixins';

.courses {
    .section__header {
    background-image: url('~/assets/images/section/section-courses.jpg');
    background-position: bottom;
    }
}

.courses-block {
  p {
    font-weight: 600;
    font-size: 24px;
  }

  .section__chapter {
    margin-bottom: 20px;
  }
}

.courses-filters {
    &__row {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        margin-right: 30px;
    }

    &__select {
        color: #B8B5BC;
        font-weight: 600;
        font-size: 24px;
        background-color: transparent;
        border: none;
        outline: none;
        height: max-content;
        cursor: pointer;
    }

    &__form {
        display: flex;
        gap: 50px;
    }

    &__button {
        font-weight: 600;
        font-size: 24px;
    }
}
    