@use '../utilities/variables';
@use '../utilities/mixins';

.students {
    .section__header {
        background-image: url('~/assets/images/section/section-students.jpg');
    }

    &__practice {
        margin-top: 120px;
        margin-bottom: -150px;
    }
}

.recommendations {
    padding: 105px 90px 60px;
    background-color: variables.color('light-bg');
    position: relative;

    @media (max-width: 640px) {
        padding: 50px 40px 30px;
    }

    &__list {
        @include mixins.flex-box($j: space-between);
        flex-wrap: wrap;
        row-gap: 40px;
        margin-bottom: 60px;
    }

    &__count {
        position: absolute;
        top: 20px;
        right: 60px;
        padding: 5px 20px;
        background-color: #E63246;
        font-weight: 700;
        font-size: 24px;
        color: #fff;
    }

    &__footer {
        @include mixins.flex-box($j: center);
    }
}