@use '../utilities/mixins';
@use '../utilities/variables';

.vacancies {
    .section__header {
        background-image: url('~/assets/images/section-vacancies.jpg');
    }

    &__wrapper {
        @include mixins.flex-box($j: space-between, $g: 70px);

        @media (max-width: 992px) {
            display: block;
        }
    }

    &__filters {
        @include mixins.flex-box($g: 15px);
        flex-wrap: wrap;
        margin-bottom: 30px;

        @media (max-width: 992px) {
            margin-top: 25px;
        }

        @media (max-width: 576px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__filter {
        padding: 6px 10px;
        background: variables.color('white-bg');
        font-size: 20px;
        @include mixins.flex-box($a: center, $g: 8px);


        &--button {
            background: variables.color('red');
            color: variables.color('white');
            cursor: pointer;
        }
    }

    &__delete {
        cursor: pointer;
    }

    &__list {
        @include mixins.flex-box($d: column, $g: 30px);
    }
}
